@page "/carreras"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using pruevaDB1.Components.Model
@using pruevaDB1.Data
@implements IAsyncDisposable
@inject IDbContextFactory<pruevaDB1.Data.pruevaDB1Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>


<QuickGrid Class="table" Items="context.Carreras">
    <PropertyColumn Property="carrera => carrera.Nombre" />
    <PropertyColumn Property="carrera => carrera.Fecha" />
    <PropertyColumn Property="carrera => carrera.Ubicacion" />
    <PropertyColumn Property="carrera => carrera.Cupos" />

    <TemplateColumn Context="carrera">
        <a href="@($"carreras/details?idcarrera={carrera.IdCarrera}")">Details</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private pruevaDB1Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
