@page "/tiempoparcials/create"
@using Microsoft.EntityFrameworkCore
@using pruevaDB1.Components.Model
@inject IDbContextFactory<pruevaDB1.Data.pruevaDB1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>TiempoParcial</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="TiempoParcial" OnValidSubmit="AddTiempoParcial" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="inscripcionid" class="form-label">InscripcionId:</label> 
                <InputNumber id="inscripcionid" @bind-Value="TiempoParcial.InscripcionId" class="form-control" /> 
                <ValidationMessage For="() => TiempoParcial.InscripcionId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="puntocontrolid" class="form-label">PuntoControlId:</label> 
                <InputNumber id="puntocontrolid" @bind-Value="TiempoParcial.PuntoControlId" class="form-control" /> 
                <ValidationMessage For="() => TiempoParcial.PuntoControlId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="horapaso" class="form-label">HoraPaso:</label> 
                <InputDate id="horapaso" @bind-Value="TiempoParcial.HoraPaso" class="form-control" /> 
                <ValidationMessage For="() => TiempoParcial.HoraPaso" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/tiempoparcials">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private TiempoParcial TiempoParcial { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTiempoParcial()
    {
        using var context = DbFactory.CreateDbContext();
        context.TiemposParciales.Add(TiempoParcial);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tiempoparcials");
    }
}
