@page "/tiempoparcials"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using pruevaDB1.Components.Model
@using pruevaDB1.Data
@implements IAsyncDisposable
@inject IDbContextFactory<pruevaDB1.Data.pruevaDB1Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="tiempoparcials/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.TiemposParciales">
    <PropertyColumn Property="tiempoparcial => tiempoparcial.InscripcionId" />
    <PropertyColumn Property="tiempoparcial => tiempoparcial.PuntoControlId" />
    <PropertyColumn Property="tiempoparcial => tiempoparcial.HoraPaso" />

    <TemplateColumn Context="tiempoparcial">
        <a href="@($"tiempoparcials/edit?idtiempo={tiempoparcial.IdTiempo}")">Edit</a> |
        <a href="@($"tiempoparcials/details?idtiempo={tiempoparcial.IdTiempo}")">Details</a> |
        <a href="@($"tiempoparcials/delete?idtiempo={tiempoparcial.IdTiempo}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private pruevaDB1Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
