<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pruevaDB1</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1 class="mt-3">🏃‍♂️ pruevaDB1</h1>
            <hr />
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="border-top pt-3">
            <p>&copy; @(DateTime.Now.Year) - pruevaDB1</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
