@page "/atleta/create"
@using Microsoft.EntityFrameworkCore
@using ProyectoPuntoNET.Data
@inject IDbContextFactory<ProyectoPuntoNET.Data.ProyectoPuntoNETContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Atleta</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Atleta" OnValidSubmit="AddAtleta" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label> 
                <InputText id="nombre" @bind-Value="Atleta.Nombre" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Atleta.Nombre" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="edad" class="form-label">Edad:</label> 
                <InputNumber id="edad" @bind-Value="Atleta.Edad" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Atleta.Edad" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="chipid" class="form-label">ChipId:</label> 
                <InputText id="chipid" @bind-Value="Atleta.ChipId" class="form-control" /> 
                <ValidationMessage For="() => Atleta.ChipId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria:</label> 
                <InputText id="categoria" @bind-Value="Atleta.Categoria" class="form-control" /> 
                <ValidationMessage For="() => Atleta.Categoria" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="eventoid" class="form-label">EventoId:</label> 
                <InputNumber id="eventoid" @bind-Value="Atleta.EventoId" class="form-control" /> 
                <ValidationMessage For="() => Atleta.EventoId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/atleta">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Atleta Atleta { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAtleta()
    {
        using var context = DbFactory.CreateDbContext();
        context.Atleta.Add(Atleta);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/atleta");
    }
}
