@page "/atleta/create"
@using Microsoft.EntityFrameworkCore
@using ProyectoPuntoNET.Model
@inject IDbContextFactory<ProyectoPuntoNET.Data.ProyectoPuntoNETContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Atleta</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Atleta" OnValidSubmit="AddAtleta" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nombre" class="form-label">nombre:</label> 
                <InputText id="nombre" @bind-Value="Atleta.nombre" class="form-control" /> 
                <ValidationMessage For="() => Atleta.nombre" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="edad" class="form-label">edad:</label> 
                <InputNumber id="edad" @bind-Value="Atleta.edad" class="form-control" /> 
                <ValidationMessage For="() => Atleta.edad" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="discapacidades" class="form-label">discapacidades:</label> 
                <InputText id="discapacidades" @bind-Value="Atleta.discapacidades" class="form-control" /> 
                <ValidationMessage For="() => Atleta.discapacidades" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/atleta">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Atleta Atleta { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAtleta()
    {
        using var context = DbFactory.CreateDbContext();
        context.Atleta.Add(Atleta);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/atleta");
    }
}
