@page "/atleta"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ProyectoPuntoNET.Model
@using ProyectoPuntoNET.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ProyectoPuntoNET.Data.ProyectoPuntoNETContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="atleta/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Atleta">
    <PropertyColumn Property="atleta => atleta.nombre" />
    <PropertyColumn Property="atleta => atleta.edad" />
    <PropertyColumn Property="atleta => atleta.discapacidades" />

    <TemplateColumn Context="atleta">
        <a href="@($"atleta/edit?idatleta={atleta.idAtleta}")">Edit</a> |
        <a href="@($"atleta/details?idatleta={atleta.idAtleta}")">Details</a> |
        <a href="@($"atleta/delete?idatleta={atleta.idAtleta}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ProyectoPuntoNETContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
