@page "/inscripcions/edit"
@using Microsoft.EntityFrameworkCore
@using pruevaDB1.Components.Model
@inject IDbContextFactory<pruevaDB1.Data.pruevaDB1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Inscripcion</h2>
<hr />
@if (Inscripcion is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Inscripcion" OnValidSubmit="UpdateInscripcion" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Inscripcion.IdInscripcion" value="@Inscripcion.IdInscripcion" />
                <div class="mb-3">
                    <label for="atletaid" class="form-label">AtletaId:</label>
                    <InputNumber id="atletaid" @bind-Value="Inscripcion.AtletaId" class="form-control" />
                    <ValidationMessage For="() => Inscripcion.AtletaId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="carreraid" class="form-label">CarreraId:</label>
                    <InputNumber id="carreraid" @bind-Value="Inscripcion.CarreraId" class="form-control" />
                    <ValidationMessage For="() => Inscripcion.CarreraId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="numerodorsal" class="form-label">NumeroDorsal:</label>
                    <InputNumber id="numerodorsal" @bind-Value="Inscripcion.NumeroDorsal" class="form-control" />
                    <ValidationMessage For="() => Inscripcion.NumeroDorsal" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="chipid" class="form-label">ChipId:</label>
                    <InputNumber id="chipid" @bind-Value="Inscripcion.ChipId" class="form-control" />
                    <ValidationMessage For="() => Inscripcion.ChipId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/inscripcions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int IdInscripcion { get; set; }

    [SupplyParameterFromForm]
    private Inscripcion? Inscripcion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Inscripcion ??= await context.Inscripciones.FirstOrDefaultAsync(m => m.IdInscripcion == IdInscripcion);

        if (Inscripcion is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateInscripcion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Inscripcion!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!InscripcionExists(Inscripcion!.IdInscripcion))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/inscripcions");
    }

    private bool InscripcionExists(int idinscripcion)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Inscripciones.Any(e => e.IdInscripcion == idinscripcion);
    }
}
